In [1]:
from gensim.models import KeyedVectors
from gensim.similarities.index import AnnoyIndexer
wv = KeyedVectors.load_word2vec_format('glove.6B.300d.bin', binary=True)
annoy_index = AnnoyIndexer()
annoy_index.load('glove.6B.300d.index')
annoy_index.model = wv

D:\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [31]:
wv.most_similar_to_given('disaster',['crash', 'tragedy', 'accidents', 'disasters', 'collision', 'catastrophe', 'happened', 'occurred'])

'catastrophe'

In [126]:
vocab_disasters_and_accdients = dict(wv.most_similar(positive=['disaster','accident',], topn=1000, indexer=annoy_index))

In [127]:
list(vocab_disasters_and_accdients.items())[-100:]

[('believe', 0.3937186598777771),
 ('operational', 0.39366304874420166),
 ('preventing', 0.39358747005462646),
 ('financial', 0.3934321999549866),
 ('1993', 0.39342111349105835),
 ('canceled', 0.39341872930526733),
 ('such', 0.39336079359054565),
 ('two', 0.3933504819869995),
 ('engineering', 0.3933461308479309),
 ('center', 0.3933337330818176),
 ('total', 0.3933243155479431),
 ('study', 0.39331817626953125),
 ('initially', 0.393296480178833),
 ('entire', 0.39329075813293457),
 ('driving', 0.39326250553131104),
 ('investigator', 0.39325881004333496),
 ('leave', 0.3932558298110962),
 ('recovering', 0.39320796728134155),
 ('several', 0.39320677518844604),
 ('goes', 0.39318573474884033),
 ('_', 0.39318472146987915),
 ('learn', 0.39316534996032715),
 ('emotional', 0.3931204676628113),
 ('doctors', 0.393096923828125),
 ('halted', 0.39309579133987427),
 ('flying', 0.393083393573761),
 ('southwestern', 0.39304685592651367),
 ('biggest', 0.39302748441696167),
 ('15', 0.39301854372024536),
 ('monitoring', 0.3929588198661804),
 ('jetliner', 0.3929331302642822),
 ('troubles', 0.392902672290802),
 ('bring', 0.39288973808288574),
 ('they', 0.392829954624176),
 ('leakage', 0.39282935857772827),
 ('husband', 0.3928227424621582),
 ('unrest', 0.3927985429763794),
 ('airlines', 0.39277589321136475),
 ('tourists', 0.39276832342147827),
 ('now', 0.3927128314971924),
 ('plagued', 0.39258575439453125),
 ('security', 0.3925797939300537),
 ('revealed', 0.39255988597869873),
 ('occurring', 0.39255595207214355),
 ('december', 0.3925436735153198),
 ('acute', 0.39250999689102173),
 ('proved', 0.39249932765960693),
 ('witnesses', 0.39249712228775024),
 ('sick', 0.3924035429954529),
 ('as', 0.3923988938331604),
 ('interfax', 0.39238500595092773),
 ('needed', 0.39238089323043823),
 ('visited', 0.39237743616104126),
 ('fix', 0.39235520362854004),
 ('unaccounted', 0.39230817556381226),
 ('many', 0.39225083589553833),
 ('suspicious', 0.39224904775619507),
 ('demise', 0.39222586154937744),
 (':', 0.39218711853027344),
 ('october', 0.3921785354614258),
 ('presumed', 0.3921738862991333),
 ('department', 0.3921700119972229),
 ('asked', 0.3921242356300354),
 ('rain', 0.39210397005081177),
 ('analysis', 0.39208728075027466),
 ('examine', 0.3920580744743347),
 ('fated', 0.3920201063156128),
 ('started', 0.39198851585388184),
 ('warnings', 0.39197415113449097),
 ('1989', 0.3919641971588135),
 ('conduct', 0.3919360637664795),
 ('condolences', 0.3919302821159363),
 ('an', 0.39191895723342896),
 ('sabotage', 0.39189910888671875),
 ('kilometers', 0.3918094038963318),
 ('nations', 0.3917422890663147),
 ('planes', 0.3917042016983032),
 ('titanic', 0.3916712999343872),
 ('plunged', 0.3916223645210266),
 ('1988', 0.3915756940841675),
 ('cancellation', 0.39155811071395874),
 ('injures', 0.39148467779159546),
 ('future', 0.39143049716949463),
 ('meteorological', 0.3914251923561096),
 ('finally', 0.3914151191711426),
 ('parts', 0.3913835287094116),
 ('local', 0.3912582993507385),
 ('knowing', 0.39118707180023193),
 ('at', 0.3911488652229309),
 ('recall', 0.39114314317703247),
 ('passing', 0.39112114906311035),
 ('place', 0.3911011219024658),
 ('lasted', 0.3910970687866211),
 ('beginning', 0.39105361700057983),
 ('sunk', 0.3910179138183594),
 ('supposed', 0.39100825786590576),
 ('dangers', 0.3909822106361389),
 ('plans', 0.3909767270088196),
 ('anniversary', 0.39094823598861694),
 ('force', 0.39094412326812744)]

In [128]:
vocab = list(vocab_disasters_and_accdients.keys())

In [129]:
vocab[:10]

['disaster',
 'accident',
 'crash',
 'tragedy',
 'accidents',
 'disasters',
 'collision',
 'catastrophe',
 'happened',
 'occurred']

In [130]:
from uri import *

In [131]:
uri_to_label('/c/en/24_hour_clock/n')

'24 hour clock'

In [132]:
import dask.dataframe as dd

In [133]:
df_conceptnet = dd.read_csv('./ccnet/neo-en-noURL/conceptnet-rel-*.csv',names=['start','rel','end','weight'])

In [134]:
df_probase = dd.read_csv('./ccnet/neo-en-noURL/microsoft-rel-*.csv',names=['start','rel','end','weight'])

In [135]:
df_conceptnet['start_label'] = df_conceptnet['start'].apply(uri_to_label)
df_conceptnet['end_label'] = df_conceptnet['end'].apply(uri_to_label)

D:\Anaconda3\lib\site-packages\dask\dataframe\core.py:2184: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  warnings.warn(msg)

In [136]:
df_conceptnet.head()

,start,rel,end,weight,start_label,end_label
0,/c/en/0/n,/r/Antonym,/c/en/1,1.0,0,1
1,/c/en/12_hour_clock/n,/r/Antonym,/c/en/24_hour_clock,1.0,12 hour clock,24 hour clock
2,/c/en/24_hour_clock/n,/r/Antonym,/c/en/12_hour_clock,1.0,24 hour clock,12 hour clock
3,/c/en/5/n,/r/Antonym,/c/en/3,1.0,5,3
4,/c/en/a.c/n,/r/Antonym,/c/en/d.c,1.0,a.c,d.c

In [137]:
df_probase['start_label'] = df_probase['start'].apply(uri_to_label)
df_probase['end_label'] = df_probase['end'].apply(uri_to_label)

D:\Anaconda3\lib\site-packages\dask\dataframe\core.py:2184: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  warnings.warn(msg)

In [138]:
df_probase.head()

,start,rel,end,weight,start_label,end_label
0,/c/en/age,/r/microsoft/IsA,/c/en/factor,3.5167,age,factor
1,/c/en/size,/r/microsoft/IsA,/c/en/free_rich_company_datum,3.3222,size,free rich company datum
2,/c/en/revenue,/r/microsoft/IsA,/c/en/free_rich_company_datum,3.3185,revenue,free rich company datum
3,/c/en/california,/r/microsoft/IsA,/c/en/state,1.8062,california,state
4,/c/en/msm_glucosamine_sulfate,/r/microsoft/IsA,/c/en/supplement,1.5942,msm glucosamine sulfate,supplement

df_disaster = dd.concat([df_conceptnet[df_conceptnet.start_label.isin(vocab)],df_conceptnet[df_conceptnet.end_label.isin(vocab)],\
                                   df_probase[df_probase.start_label.isin(vocab)],df_probase[df_probase.end_label.isin(vocab)]])

In [139]:
df_disaster = dd.concat([df_conceptnet[df_conceptnet.start_label.isin(vocab)],df_conceptnet[df_conceptnet.end_label.isin(vocab)]])

In [140]:
df_disaster.head()

,start,rel,end,weight,start_label,end_label
59,/c/en/about,/r/Antonym,/c/en/precisely,0.155,about,precisely
132,/c/en/accident,/r/Antonym,/c/en/on_purpose,0.319,accident,on purpose
133,/c/en/accident,/r/Antonym,/c/en/planned,0.147,accident,planned
134,/c/en/accident,/r/Antonym,/c/en/purpose,0.319,accident,purpose
189,/c/en/act,/r/Antonym,/c/en/be_real,0.126,act,be real

In [141]:
df_disaster.tail()

,start,rel,end,weight,start_label,end_label
51945,/c/en/tatra/n,/r/dbpedia/product,/c/en/truck,0.5,tatra,truck
51971,/c/en/vale/n,/r/dbpedia/product,/c/en/coal,0.5,vale,coal
51983,/c/en/volkswagen,/r/dbpedia/product,/c/en/bus,0.5,volkswagen,bus
51984,/c/en/volkswagen,/r/dbpedia/product,/c/en/car,0.5,volkswagen,car
51985,/c/en/volkswagen,/r/dbpedia/product,/c/en/truck,0.5,volkswagen,truck

len(df_disaster)
16212321

In [142]:
df_disaster[['start','rel','end','weight']].to_csv('conceptnet_disasters/df-disasters-*.csv',index=False,header=False)

['conceptnet_disasters/df-disasters-00.csv',
 'conceptnet_disasters/df-disasters-01.csv',
 'conceptnet_disasters/df-disasters-02.csv',
 'conceptnet_disasters/df-disasters-03.csv',
 'conceptnet_disasters/df-disasters-04.csv',
 'conceptnet_disasters/df-disasters-05.csv',
 'conceptnet_disasters/df-disasters-06.csv',
 'conceptnet_disasters/df-disasters-07.csv',
 'conceptnet_disasters/df-disasters-08.csv',
 'conceptnet_disasters/df-disasters-09.csv',
 'conceptnet_disasters/df-disasters-10.csv',
 'conceptnet_disasters/df-disasters-11.csv',
 'conceptnet_disasters/df-disasters-12.csv',
 'conceptnet_disasters/df-disasters-13.csv',
 'conceptnet_disasters/df-disasters-14.csv',
 'conceptnet_disasters/df-disasters-15.csv',
 'conceptnet_disasters/df-disasters-16.csv',
 'conceptnet_disasters/df-disasters-17.csv',
 'conceptnet_disasters/df-disasters-18.csv',
 'conceptnet_disasters/df-disasters-19.csv',
 'conceptnet_disasters/df-disasters-20.csv',
 'conceptnet_disasters/df-disasters-21.csv',
 'conceptnet_disasters/df-disasters-22.csv',
 'conceptnet_disasters/df-disasters-23.csv',
 'conceptnet_disasters/df-disasters-24.csv',
 'conceptnet_disasters/df-disasters-25.csv',
 'conceptnet_disasters/df-disasters-26.csv',
 'conceptnet_disasters/df-disasters-27.csv',
 'conceptnet_disasters/df-disasters-28.csv',
 'conceptnet_disasters/df-disasters-29.csv',
 'conceptnet_disasters/df-disasters-30.csv',
 'conceptnet_disasters/df-disasters-31.csv',
 'conceptnet_disasters/df-disasters-32.csv',
 'conceptnet_disasters/df-disasters-33.csv',
 'conceptnet_disasters/df-disasters-34.csv',
 'conceptnet_disasters/df-disasters-35.csv',
 'conceptnet_disasters/df-disasters-36.csv',
 'conceptnet_disasters/df-disasters-37.csv',
 'conceptnet_disasters/df-disasters-38.csv',
 'conceptnet_disasters/df-disasters-39.csv',
 'conceptnet_disasters/df-disasters-40.csv',
 'conceptnet_disasters/df-disasters-41.csv',
 'conceptnet_disasters/df-disasters-42.csv',
 'conceptnet_disasters/df-disasters-43.csv',
 'conceptnet_disasters/df-disasters-44.csv',
 'conceptnet_disasters/df-disasters-45.csv',
 'conceptnet_disasters/df-disasters-46.csv',
 'conceptnet_disasters/df-disasters-47.csv',
 'conceptnet_disasters/df-disasters-48.csv',
 'conceptnet_disasters/df-disasters-49.csv',
 'conceptnet_disasters/df-disasters-50.csv',
 'conceptnet_disasters/df-disasters-51.csv',
 'conceptnet_disasters/df-disasters-52.csv',
 'conceptnet_disasters/df-disasters-53.csv',
 'conceptnet_disasters/df-disasters-54.csv',
 'conceptnet_disasters/df-disasters-55.csv',
 'conceptnet_disasters/df-disasters-56.csv',
 'conceptnet_disasters/df-disasters-57.csv',
 'conceptnet_disasters/df-disasters-58.csv',
 'conceptnet_disasters/df-disasters-59.csv',
 'conceptnet_disasters/df-disasters-60.csv',
 'conceptnet_disasters/df-disasters-61.csv',
 'conceptnet_disasters/df-disasters-62.csv',
 'conceptnet_disasters/df-disasters-63.csv',
 'conceptnet_disasters/df-disasters-64.csv',
 'conceptnet_disasters/df-disasters-65.csv',
 'conceptnet_disasters/df-disasters-66.csv',
 'conceptnet_disasters/df-disasters-67.csv',
 'conceptnet_disasters/df-disasters-68.csv',
 'conceptnet_disasters/df-disasters-69.csv',
 'conceptnet_disasters/df-disasters-70.csv',
 'conceptnet_disasters/df-disasters-71.csv',
 'conceptnet_disasters/df-disasters-72.csv',
 'conceptnet_disasters/df-disasters-73.csv']

In [143]:
len(df_disaster)

185437