In [1]:
import os
import codecs
import json
import numpy as np
import pandas as pd

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'entity2id.txt',
 'entity2vec.bern',
 'kb_env_rl.txt',
 'NELL-995.ipynb',
 'ranked_relations.csv',
 'raw.kb',
 'README.md',
 'relation2id.txt',
 'relation2vec.bern',
 'tasks']

### raw.kb
  - the raw kb data from NELL system

In [3]:
df_raw = pd.read_csv('./raw.kb',names=['head','rel','tail'],sep='\t',index_col=False,encoding='utf-8')
df_raw.head()

,head,rel,tail
0,concept:person:molly_moore,concept:worksfor,concept:city:washington_d_c
1,concept:politicsblog:perspective,concept:proxyfor,concept:book:new
2,concept:crustacean:nit,concept:agentcompeteswithagent,concept:university:unc_asheville
3,concept:physicalaction:organs,concept:subpartof,concept:website:blood
4,concept:drug:u_s__food_and_drug_administration,concept:atdate,concept:date:n2004

In [4]:
len(df_raw)

154213

### kb_env_rl.txt
  - inverse triples in raw.kb
  - used as the KG for reasoning

In [5]:
df_rl_env = pd.read_csv('./kb_env_rl.txt',names=['head','tail','rel'],sep='\t',index_col=False,encoding='utf-8')
df_rl_env.head()

,head,tail,rel
0,concept_person_molly_moore,concept_city_washington_d_c,concept:worksfor
1,concept_city_washington_d_c,concept_person_molly_moore,concept:worksfor_inv
2,concept_politicsblog_perspective,concept_book_new,concept:proxyfor
3,concept_book_new,concept_politicsblog_perspective,concept:proxyfor_inv
4,concept_crustacean_nit,concept_university_unc_asheville,concept:agentcompeteswithagent

In [6]:
len(df_rl_env)

308426

### entity2id.txt
  - 0~75491
  
    ``
    concept_professionalorganization_daughters_of_american_revolution	0
    concept_musicalbum_paradox	1
    concept_televisionstation_associated_press	2
    concept_disease_endocarditis	3
    concept_ceo_azim_premji	4
    concept_sportsequipment_freestyle	5
    30.5024600000000,-90.2448600000000	6
    ``
    
### entity2vec.bern
  - TransR

In [7]:
entity2vec = np.loadtxt('./entity2vec.bern')

In [8]:
entity2vec.shape

(75492, 100)

### ranked_relations.csv

426

generalizations	2202099
concept:haswikipediaurl	303608
concept:atdate	15175
concept:latitudelongitude	6332
concept:proxyfor	5362
concept:agentcreated	4668
concept:atlocation	4272
concept:subpartof	4073
concept:teamplaysagainstteam	3411
concept:mutualproxyfor	3320
concept:itemfoundinroom	2472
concept:professionistypeofprofession	2361
concept:locationlocatedwithinlocation	2273
concept:clothingtogowithclothing	2242
concept:subpartoforganization	2087
concept:bookwriter	2083
concept:furniturefoundinroom	2037
concept:athleteplayssport	2008
concept:agentcollaborateswithagent	1928
concept:chemicalistypeofchemical	1812
concept:agentcontrols	1745
concept:worksfor	1707

### relation2id.txt
  - 426-2
    - generalizations
    - concept:haswikipediaurl
  - 200/426
    - top200
  - 200*2
    - _inv
  - 400

``
concept:agriculturalproductcookedwithagriculturalproduct	0
concept:agriculturalproductgrowninlandscapefeatures	1
concept:sportfansincountry	2
concept:beveragemadefrombeverage_inv	3
concept:emotionassociatedwithdisease_inv	4
concept:personbelongstoorganization_inv	5
concept:agentcontrols_inv	6
``
### relation2vec.bern
  - TransR

In [9]:
relation2vec = np.loadtxt('./relation2vec.bern')

In [10]:
relation2vec.shape

(400, 100)

## Tasks
  - 12/200

In [11]:
os.listdir('./tasks/')

['concept_agentbelongstoorganization',
 'concept_athletehomestadium',
 'concept_athleteplaysforteam',
 'concept_athleteplaysinleague',
 'concept_athleteplayssport',
 'concept_organizationheadquarteredincity',
 'concept_organizationhiredperson',
 'concept_personborninlocation',
 'concept_personleadsorganization',
 'concept_teamplaysinleague',
 'concept_teamplayssport',
 'concept_worksfor']

### task-concept_worksfor

In [12]:
os.listdir('./tasks/concept_worksfor/')

['A.bern',
 'A.vec',
 'A.vec_D',
 'all_data',
 'entity2id.txt',
 'entity2vec.bern',
 'entity2vec.unif',
 'entity2vec.vec',
 'entity2vec.vec_D',
 'graph.txt',
 'path_stats.txt',
 'path_to_use.txt',
 'relation2id.txt',
 'relation2vec.bern',
 'relation2vec.unif',
 'relation2vec.vec',
 'relation2vec.vec_D',
 'sort_test.pairs',
 'test.pairs',
 'train.pairs',
 'train_pos',
 'transX',
 'triple2id.txt']

#### transX
  - triples 
    - train KB embeddings

In [13]:
df_worksfor_transX = pd.read_csv('./tasks/concept_worksfor/transX',names=['head','tail','rel'],sep='\t',index_col=False,encoding='utf-8')
df_worksfor_transX.head()

,head,tail,rel
0,concept_politicsblog_perspective,concept_book_new,concept:proxyfor
1,concept_crustacean_nit,concept_university_unc_asheville,concept:agentcompeteswithagent
2,concept_physicalaction_organs,concept_website_blood,concept:subpartof
3,concept_drug_u_s__food_and_drug_administration,concept_date_n2004,concept:atdate
4,concept_athlete_orlovsky,"49.1166700000000,18.4333300000000",concept:latitudelongitude

In [14]:
len(df_worksfor_transX)

153700

#### triple2id.txt
  - 
  ``
    153700
    71316	33054	369 
    4038	49534	105 
    60365	37408	358 
    15158	65853	332 
    52181	2514	118 
  ``

#### graph.txt
  - transX
    - +_inv
    - head,rel,tail

In [15]:
df_worksfor_graph = pd.read_csv('./tasks/concept_worksfor/graph.txt',names=['head','rel','tail'],sep='\t',index_col=False,encoding='utf-8')
df_worksfor_graph.head()

,head,rel,tail
0,concept_politicsblog_perspective,concept:proxyfor,concept_book_new
1,concept_book_new,concept:proxyfor_inv,concept_politicsblog_perspective
2,concept_crustacean_nit,concept:agentcompeteswithagent,concept_university_unc_asheville
3,concept_university_unc_asheville,concept:agentcompeteswithagent_inv,concept_crustacean_nit
4,concept_physicalaction_organs,concept:subpartof,concept_website_blood

In [16]:
len(df_worksfor_graph)

305012

#### Embedding

# entity
    'entity2id.txt',  # 75492
    'entity2vec.bern', # TransR
    'entity2vec.unif', # TransE
    'entity2vec.vec',  # TransH
    'entity2vec.vec_D',# TransD
# relation         # 400=200*2(_inv)
    'relation2id.txt', 
    'relation2vec.bern',
    'relation2vec.unif',
    'relation2vec.vec',
    'relation2vec.vec_D',

### train/test samples

#### worksfor-all_data

In [17]:
df_worksfor_all = pd.read_csv('./tasks/concept_worksfor/all_data',names=['head','tail','rel'],sep='\t',index_col=False,encoding='utf-8')
df_worksfor_all.head()

,head,tail,rel
0,concept:person:molly_moore,concept:city:washington_d_c,concept:worksfor
1,concept:person:bruce_iglauer,concept:blog:alligator,concept:worksfor
2,concept:person:katsuaki_watanabe,concept:automobilemaker:toyota_motor,concept:worksfor
3,concept:person:katsuaki_watanabe,concept:automobilemaker:toyota_motor_corporation,concept:worksfor
4,concept:comedian:george_jones,concept:company:borders,concept:worksfor

In [18]:
len(df_worksfor_all)

1707

#### train_pos
  - concept:worksfor:
    - filter from trainX

In [19]:
df_worksfor_pos = pd.read_csv('./tasks/concept_worksfor/train_pos',names=['head','tail','rel'],sep='\t',index_col=False,encoding='utf-8')
df_worksfor_pos.head()

,head,tail,rel
0,concept_architect_opinion,concept_stateorprovince_times,concept:worksfor
1,concept_coach_tom_izzo,concept_sportsteam_michigan_state,concept:worksfor
2,concept_person_lang_cheng,concept_organization_immigration_bureau,concept:worksfor
3,concept_male_john_thompson_iii,concept_city_georgetown,concept:worksfor
4,concept_journalist_thomas_friedman,concept_politicsblog_ny_times,concept:worksfor

In [20]:
len(df_worksfor_pos)

1194

#### train.pairs
  - pos -> pairs?

In [21]:
df_worksfor_train = pd.read_csv('./tasks/concept_worksfor/train.pairs',names=['head','tail'],sep=',',index_col=False,encoding='utf-8')
df_worksfor_train['flag'] = df_worksfor_train['tail'].apply(lambda x:x.split(':')[1])
df_worksfor_train['tail'] = df_worksfor_train['tail'].apply(lambda x:x.split(':')[0])
df_worksfor_train.head()

,head,tail,flag
0,thing$concept_coach_stan_brock,thing$concept_politicalparty_college,-
1,thing$concept_person_robbie_bach,thing$concept_ceo_terry_semel,-
2,thing$concept_personaustralia_david_brown,thing$concept_company_virgin_blue,-
3,thing$concept_musician_barbara_walters,thing$concept_website_abc,-
4,thing$concept_coach_martz,thing$concept_sportsteam_bears_29_17,-

In [22]:
len(df_worksfor_train)

6911

#### test.pairs

In [23]:
df_worksfor_test = pd.read_csv('./tasks/concept_worksfor/test.pairs',names=['head','tail'],sep=',',index_col=False,encoding='utf-8')
df_worksfor_test['flag'] = df_worksfor_test['tail'].apply(lambda x:x.split(':')[1])
df_worksfor_test['tail'] = df_worksfor_test['tail'].apply(lambda x:x.split(':')[0])
df_worksfor_test.head()

,head,tail,flag
0,thing$concept_politician_sam_sullivan,thing$concept_city_whistler,-
1,thing$concept_journalist_harvey_araton,thing$concept_website_daily_news,-
2,thing$concept_ceo_barry_meyer,thing$concept_biotechcompany_the_walt_disney_co_,-
3,thing$concept_ceo_c__michael_armstrong,thing$concept_politicsblog_weekly_standard,-
4,thing$concept_journalist_jack_anderson,thing$concept_website_new_york_times,-

In [24]:
len(df_worksfor_test)

2698

#### sort_test.pairs
  - test.pairs
    - head sort by string

#### path
  - path_stats.txt
    - path frequency of randomised BFS
    -    ``
        concept:organizationhiredperson_inv	47
        concept:personleadsorganization	33
        concept:agentcollaborateswithagent_inv	12
        concept:journalistwritesforpublication	10
        concept:organizationterminatedperson_inv	3
        ``
            
  - path_to_use.txt
    - reasoning paths found the RL agent
    -    ``
        concept:personleadsorganization
        concept:organizationhiredperson_inv
        concept:agentcollaborateswithagent_inv
        concept:journalistwritesforpublication
        concept:mutualproxyfor_inv
        concept:organizationterminatedperson_inv
        concept:topmemberoforganization
        concept:coachesteam
        concept:ceoof
        ``